html, body {
    
      padding: 0;
      width: 100%;
	  
}
body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
	  color:black;
	  background-image: 
	  	
	  
	  url(../img/.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size:cover;
}

header {
      width: 100%;
      height: 100vh;
      background:   
	  linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.50)
		),
    /* bottom, image */
		url(../img/bg.jpg) no-repeat 50% 50%;
      background-size: cover;
	  
}

.title h1{
	font-family:queen of heaven;
	font-size:70px;
	 margin: 0 auto;
	 max-width:100%;
}

.title p{
	font-size:18px;
	 margin: 0 auto;
	 max-width:100%;
}

.title{
	font-family:Arial;
	 margin: 0 auto;
	color:white;
	text-align:center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
	  margin-top:60px;
      width: 95%;
      margin: 3em auto;
      font-size: 20px;
      line-height: 20px;
      text-align: justify;
}

hr.type_7 
{

border: 0;
display:relative;
margin-left: auto;
margin-right: auto;
height:100px;
width:100%;
background-image: url(../img/type_7.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}


.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
	  z-index:1;
      position: fixed;
      width: 100%;
      line-height: 60px;
	  overflow:hidden;
}

nav ul {
	  text-decoration:none !important;
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
	
}

nav ul li a {
	text-decoration:none !important;
}

nav ul li a:hover{
	color:#fff;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 7px;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}


.btn{
	display:inline-block;
	text-align:center;
	margin-top:15px;
	width: 50%;
	background-color:transparent;
	color: white;
	border: 2px solid;
	border-radius:5px;
	font-size:20px;
}

.btn:hover{
	background-color: transparent;
	color:white;
	}
	
img{
	display: block;
	margin-top:0;
	width: 100%;
	height: auto;
}

h2{
	font-size: 45px;
	text-align:center;
	font-family:queen of heaven;
}

h3{
	text-align:center;	
	font-family:queen of heaven;
}

.marg{
	margin-bottom:15px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 15px;
    resize: vertical;
}

input[type=submit] {
    background-color: #000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.container {
    padding: 5px;
	
}

.fl {
	list-style-image:url(../img/flower.png);
}

.fl li a{
	color:black;
	text-decoration:none! important;
}

.icon{
	list-style:none !important;
}

.bttn{
	margin: 0 auto;
	display:block;
	width: auto;
	border-radius: 10px;
	border: none; 
	padding: 20px; 
	color: white; 
	background-color: black;	
}


/* Full-width input fields */
.container input[type=text], input[type=password] {
    width: 100%;
	display:inline-block;
    padding: 12px 20px;
    margin: 4px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* Set a style for all buttons */
button {
    background-color: #000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
}

button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

.container2 {
    padding: 25px;
}

.container3 {
    padding: 10px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 55%; /* Could be more or less, depending on screen size */
	
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: gray;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

footer{
		width:100%;
		background-color: #000;
		color: #FFF;
		position: absolute;
		}
		
		
@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 28em;
      }

      nav ul li {
			margin-top:0;
			margin-top:0;
            box-sizing: border-box;
            width: 100%;
            padding: 3px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }	  
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}




